<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>estore</display-name>
  <!-- ========================过滤器配置===================== -->
  <filter>
    <filter-name>GenericEncodingFilter</filter-name>
    <filter-class>cn.itcast.filter.GenericEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GenericEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PrivilegeFilter</filter-name>
    <filter-class>cn.itcast.filter.PrivilegeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrivilegeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   <!-- ========================过滤器配置===================== -->
   <!-- ========================监听器配置===================== -->
   <listener>
   	<listener-class>cn.itcast.listener.ScannerListener</listener-class>
   </listener>
   <!-- ========================监听器配置===================== -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.itcast.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>cn.itcast.web.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.itcast.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllGoodsServlet</display-name>
    <servlet-name>FindAllGoodsServlet</servlet-name>
    <servlet-class>cn.itcast.web.FindAllGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllGoodsServlet</servlet-name>
    <url-pattern>/findAllGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindGoodByIdServlet</display-name>
    <servlet-name>FindGoodByIdServlet</servlet-name>
    <servlet-class>cn.itcast.web.FindGoodByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindGoodByIdServlet</servlet-name>
    <url-pattern>/findGoodById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGoodTOCartServlet</display-name>
    <servlet-name>AddGoodTOCartServlet</servlet-name>
    <servlet-class>cn.itcast.web.AddGoodTOCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodTOCartServlet</servlet-name>
    <url-pattern>/addGoodTOCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllCartsServlet</display-name>
    <servlet-name>FindAllCartsServlet</servlet-name>
    <servlet-class>cn.itcast.web.FindAllCartsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllCartsServlet</servlet-name>
    <url-pattern>/findAllCarts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNumServlet</display-name>
    <servlet-name>UpdateNumServlet</servlet-name>
    <servlet-class>cn.itcast.web.UpdateNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNumServlet</servlet-name>
    <url-pattern>/updateNum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDataServlet</display-name>
    <servlet-name>GetDataServlet</servlet-name>
    <servlet-class>cn.itcast.web.GetDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDataServlet</servlet-name>
    <url-pattern>/getData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>cn.itcast.web.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/deleteCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>cn.itcast.web.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/addOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllOrdersServlet</display-name>
    <servlet-name>FindAllOrdersServlet</servlet-name>
    <servlet-class>cn.itcast.web.FindAllOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllOrdersServlet</servlet-name>
    <url-pattern>/findAllOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrderByOidServlet</display-name>
    <servlet-name>FindOrderByOidServlet</servlet-name>
    <servlet-class>cn.itcast.web.FindOrderByOidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderByOidServlet</servlet-name>
    <url-pattern>/findOrderByOid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGoodServlet</display-name>
    <servlet-name>AddGoodServlet</servlet-name>
    <servlet-class>cn.itcast.web.AddGoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodServlet</servlet-name>
    <url-pattern>/addGoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PicServlet</display-name>
    <servlet-name>PicServlet</servlet-name>
    <servlet-class>cn.itcast.web.PicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicServlet</servlet-name>
    <url-pattern>/pic</url-pattern>
  </servlet-mapping>
    <error-page>
  	<error-code>404</error-code>
  	<location>/404.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/500.jsp</location>
  </error-page>
</web-app>